/*
.body1 {
  height: 100%;
  margin: 0px;
}
.box {
  
  font-size: 15px;
  color: #2d2b3d;
  font-weight: normal;
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #1f2029d4;
  width: 80%;
  margin: 5px;
  padding: 10px;
}
.boxfield{
  display: inline-block;
  width: 300px;
  margin: 10px 0;
}
.signup {
  font-size: 30px;
  color: black;
  color: #1b08c7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 10px;
}
.back {
  background: linear-gradient(to left, #bb0dfb, #3b83f6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0px auto;
  padding: 0px;
}
.style08 {
  width: 80%;
  background: #fefdfd;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 15px #27368fd4;
  margin: 0px auto;
  padding: 25px;
  border: 1px outset #758cd1;
  border-radius: 5px;
  
  max-width: 25%;
  text-align: center;
  margin: 10px auto;
}
*/
/*
.style09 {
  display: grid;
  grid-template-areas:
    " main main main main main main"
    " right right right left left left";
  grid-gap: 5px 0px;
  margin: 0;
}

.main {
  grid-area: main;
}

.right {
  grid-area: right;
}

.left {
  grid-area: left;
}

.input-boxSpecial {
  display: flex;
}
/*
.style10 {
  text-align: left;
  margin: 0px 26px;
  @media (max-width: 1100px) {
    margin: 0px 12px;
  }
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
}
*/

/* the new css  code*/
/*

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to left, #3b474e, #5e6b7a);
}

.bigDivLog {
  margin-top: 50px;
  margin-right: 100px;
  float: right;
  min-height: 500px;
  background: #292d36;
  box-shadow: 5px 5px 20px #131313, 5px 5px 25px #131313;
  border-radius: 5px;
  @media (max-width: 250px) {
    margin-top: 150px;
    margin: 125px auto;
    float: right;
    min-height: 500px;
    background: #292d36;
  }
}
.bigDivSign {
  margin-top: 20px;
  margin-right: 100px;
  float: right;
  min-height: 500px;
  background: #292d36;
  box-shadow: 5px 5px 20px #131313, 5px 5px 25px #131313;
  border-radius: 5px;
  @media (max-width: 250px) {
    margin-top: 150px;
    margin: 125px auto;
    float: right;
    min-height: 500px;
    background: #292d36;
  }
}

.wrapperLogo {
  margin-top: 70px;
  margin-right: 100px;
  float: left;
  min-height: 500px;
  width: 420px;
  padding: 15px;
  height: 630px;
  border: 5px solid #070616;
  border-radius: 10px;
  transition: 0.5s;
  
}
*/
/*
.wrapperSign {
  width: 420px;
  padding: 15px;
  height: 630px;
  border: 5px solid #070616;
  border-radius: 10px;
  transition: 0.5s;
  background: #292d36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperLog {
  width: 400px;
  height: 500px;
  border: 5px solid #070616;
  background: #292d36;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.input-box {
  position: relative;
  width: 100%;
  margin: 25px 0;
  
}
.input-boxSpecial {
  display: flex;
  justify-content: space-between;
  width: 100%; /
}

.input-boxSpecial input {
  width: 95%;
  height: 50px;
  background-color: #636468;
  border: 2px solid #a3a3a3;
  outline: none;
  border-radius: 7px;
  font-size: 1em;
  color: #a3a3a3;
  padding: 0 10px;
  transition: 0.5s;
  box-sizing: border-box;
}

.input-boxSpecial input:hover {
  background-color: #24288d;
  border: 2px solid #24288d;
  color: #a3a3a3;
  transition: 0.5s;
}

.input-boxSpecial input::placeholder {
  color: #e2e2e2f1;
}
.input-box input {
  width: 100%;
  height: 50px;
  background-color: #636468;
  border: 2px solid #a3a3a3;
  outline: none;
  border-radius: 7px;
  font-size: 1em;
  color: #a3a3a3;
  padding: 0 10px 0 35px;
  transition: 0.5s;
}
.input-box input:hover {
  width: 100%;
  height: 50px;
  background-color: #24288d;
  border: 2px solid #24288d;
  outline: none;
  border-radius: 7px;
  font-size: 1em;
  color: #a3a3a3;
  padding: 0 10px 0 35px;
  transition: 0.5s;
}
.input-box input::placeholder {
  color: #e2e2e2f1;
}
.input-box .icon {
  position: absolute;
  left: 10px;
  background: transparent;
  width: 0px;
  color: #fff;
  font-size: 1.2em;
  line-height: 55px;
  transition: 0.5s;
}
.forget-pass {
  margin: -15px 0 15px;
}
.forget-pass a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
}
.forget-pass a:hover {
  text-decoration: underline;
}
.button {
  position: relative;
  width: 170px;
  height: 45px;
  margin: 0 auto;
  background: #190f3d;
  border: 1px solid #190f3d;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  position: relative;
  width: 100%;
  height: 45px;
  background: #66d0b9;
  border: 1px solid #66d0b9;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-link {
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0;
}
.register-link p {
  color: #fff;
}
.register-link p a {
  color: #66d0b9;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Your+Font+Family:400,700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  /* background-color: whitesmoke; */
  background-image: url("../Assets/back3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box-area {
  width: 930px;
}

.success-container {
  border: 3px solid #333130;
  border-radius: 10px;
  background-color: #f4f2f0;
  padding: 20px;
  text-align: center;
  max-width: 850px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divBack {
  /* background: linear-gradient(to left, pink, orange); */
  background: linear-gradient(to left, #767e72, #677063);
}

.success-message {
  font-size: 18px;
  color: #28a745;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
 .e-message{
  font-size: 18px;
  color: #c67e27;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
